.notes_section {
  max-width: 960px;
  margin: 20px auto 0;
  padding: 20px 10px 0;
  border-top: 2px dotted;
}

.notes_header {
  margin-bottom: 5px;
  font-size: 32px;
}

.note_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 15px;
}

.note_item {
  position: relative;

  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #000;
}

.note_remove-btn {
  --button-side: 24px;

  position: absolute;
  top: calc(var(--button-side) / -2);
  right: calc(var(--button-side) / -2);

  width: var(--button-side);
  height: var(--button-side);
  border-radius: 50%;
  padding: 0;
  border-color: #000;

  color: #f00;
  font-size: 20px;

  background-color: #fff;
  cursor: pointer;
}

.form_container {
  margin-top: 10px;
}

.form_header {
  margin-bottom: 3px;
}

.textarea_container {
  max-width: 100%;
  width: 500px;
  height: 100px;
  position: relative;
}

.add-note_textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 2px solid black;
}

.submit-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}
